<h1>Display your Pirate here</h1>

<h1>Name: <%= @pirate.name %></h1><br>
<p>Weight: <%= @pirate.weight %> pounds</p><br>
<p>Height: <%= @pirate.height %> inches</p>


<h1>Ships:</h1>
<% @ships.each do |ship| %>
      <p>Name: <%= ship.name %></p><br>
      <p>Type: <%= ship.type %></p><br>
      <p>Booty: <%= ship.booty %></p>
<% end %>